@page
@model LearningSite.Web.Pages.TestModel
@{
    Layout = "";
}

<h1>TEST</h1>

<div>
<a asp-page-handler="ClearAllPools">SQLite: Clear All Pools</a>
</div>

<div>
    <a asp-page-handler="SeedDb">Seed Database</a>
</div>
