@{
    var app = (Server.AppPageModel)Model;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningSite.Web</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-lg flex-lg-row-reverse my-2 my-lg-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn">
                <a class="btn btn-primary" href="/Index#booking-section">Book Now</a>
            </div>
            <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lessons</a>
                    </li>
                    @if (app.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Schedule/Index">Schedule</a>
                        </li>
                    }
                    @if (app.IsAdmin)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Settings/Index">Settings</a>
                        </li>
                    }
                    @if (app.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Account/Index">
                                @app.UserName
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-round" asp-page="/Account/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Account/Signup">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Account/Login">Sign in</a>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2022 - Learning Site - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>