@{
    var app = (Server.AppPageModel)Model;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningSite.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>

    <div class="white-bg"></div>

    <nav x-data="{ menuSelected: '@ViewData["MenuSelected"]' }" class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-lg my-2 my-lg-0">
            <button class="navbar-toggler order-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand order-2 order-lg-1" href="index.html">Learning Site</a>
            <div class="btn order-3 order-lg-3">
                @*<button class="btn btn-primary" type="button" onclick="window.location='#booking'">Book Now</button>*@
                <a class="btn btn-primary" href="/Index#booking-section">Book Now</a>
            </div>
            <div class="collapse order-4 order-lg-2 navbar-collapse px-2" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" :class="menuSelected == 'Home' && 'active'">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item" :class="menuSelected == 'Articles' && 'active'">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item" :class="menuSelected == 'Lessons' && 'active'">
                        <a class="nav-link" href="#">Lessons</a>
                    </li>
                    @if (app.IsAuthenticated)
                    {
                        <li class="nav-item" :class="menuSelected == 'Schedule' && 'active'">
                            <a class="nav-link" asp-page="/Schedule/Index">Schedule</a>
                        </li>
                    }
                    @if (app.IsAdmin)
                    {
                        <li class="nav-item" :class="menuSelected == 'Settings' && 'active'">
                            <a class="nav-link" asp-page="/Settings/Index">Settings</a>
                        </li>
                    }
                    @if (app.IsAuthenticated)
                    {
                        <li class="nav-item" :class="menuSelected == 'Account' && 'active'">
                            <a class="nav-link" asp-page="/Account/Index">
                                @app.UserName
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-round" asp-page="/Account/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item" :class="menuSelected == 'Signup' && 'active'">
                            <a class="nav-link" asp-area="" asp-page="/Account/Signup">Sign up</a>
                        </li>
                        <li class="nav-item" :class="menuSelected == 'Signin' && 'active'">
                            <a class="nav-link" asp-area="" asp-page="/Account/Login">Sign in</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div>
                © 2022, Nicolas Luna
                -
                <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>*@
    @*<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>