@page
@model LearningSite.Web.Pages.Schedule.IndexModel
@{
    ViewData["MenuSelected"] = "Schedule";
}

<section class="container-lg main-content">
    <p class="h2">Schedule</p>
    <div class="base-block">
        <div class="calendar-body">

            <div class="calendar-title">
                <div class="cell empty"></div>
                <div class="cell">Mon, 2 April</div>
                <div class="cell">Tue, 3 April</div>
                <div class="cell">Wen, 4 April</div>
                <div class="cell">Thu, 5 April</div>
                <div class="cell">Fri, 6 April</div>
                <div class="cell">Sat, 7 April</div>
                <div class="cell">Sun, 8 April</div>
            </div>


            <div class="calendar-cells">
                <div class="calendar-time">
                    <div class="cell">00:00 – 00:30</div>
                    <div class="cell">01:00 – 01:30</div>
                    <div class="cell">02:00 – 02:30</div>
                </div>
                <div class="calendar-week-day">
                    <div class="cell mine-selection"></div>
                    <div class="cell unavalible"></div>
                    <div class="cell"></div>
                </div>
                <div class="calendar-week-day">
                    <div class="cell unavalible"></div>
                    <div class="cell unavalible"></div>
                    <div class="cell"></div>
                </div>
                <div class="calendar-week-day">
                    <div class="cell mine-selection"></div>
                    <div class="cell"></div>
                    <div class="cell unavalible"></div>
                </div>
                <div class="calendar-week-day">
                    <div class="cell"></div>
                    <div class="cell mine-selection"></div>
                    <div class="cell"></div>
                </div>
                <div class="calendar-week-day">
                    <div class="cell"></div>
                    <div class="cell unavalible"></div>
                    <div class="cell selected"></div>
                </div>
                <div class="calendar-week-day">
                    <div class="cell unavalible"></div>
                    <div class="cell unavalible"></div>
                    <div class="cell unavalible"></div>
                </div>
                <div class="calendar-week-day">
                    <div class="cell unavalible"></div>
                    <div class="cell unavalible"></div>
                    <div class="cell unavalible"></div>
                </div>
            </div>

        </div>
    </div>
</section>
