@model ChangePasswordVm
@{
}

    <form id="update-section" method="post" data-ajax="true" data-ajax-method="post"
          data-ajax-url="/account/index?handler=ChangePassword"
          data-ajax-update="#update-section" data-ajax-mode="replace-with"
          data-ajax-success="updSuccess" data-ajax-failure="updFailure">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <input x-ref="changePwdModal1" class="form-control" asp-for="OldPassword" placeholder="Password" type="password" />
                        <span class="text text-danger" asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input class="form-control" asp-for="NewPassword" placeholder="Password" type="password" />
                        <span class="text text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
        <script>
            updSuccess = function (data, status, xhr) {
                console.log("success", data, status, xhr);
                if (xhr.status == 201) {
                    window.location.replace(window.location.href);
                };
            };
            updFailure = function (xhr) {
                console.log("failure", xhr);
            };
        </script>
    </form>




