@page
@model LearningSite.Web.Pages.Account.LoginModel
@{
    ViewData["MenuSelected"] = "Signin";
}

<div class="container" style="height: 80vh;">
    <div class="row justify-content-center align-content-center flex-column" style="height: 80vh;">
        <div class="col-xl-4 col-lg-5 col-md-8 col-12 justify-content-center align-content-center">
            <div class="base-block p-4">
                <p class="h2">Sign In</p>
                <form method="POST">
                    <div class="login-error" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <input type="email" class="form-control" asp-for="Vm.EmailAddress" placeholder="Email" />
                        <span class="login-error-text text-danger" asp-validation-for="Vm.EmailAddress"></span>
                    </div>
                    <div class="form-group mb-5">
                        <input class="form-control" asp-for="Vm.Password" placeholder="Password" type="password" />
                        <span class="login-error-text text-danger" asp-validation-for="Vm.Password"></span>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <button type="submit" class="btn-primary">
                            Sign In
                        </button>
                        <a class="btn-secondary ml-2 text-decoration-none" asp-area="" asp-page="/Account/Signup">I dont have account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
