@page
@model LearningSite.Web.Pages.Account.LoginModel
@{
}

<form method="POST">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Vm.EmailAddress">Email Address</label>
                <input type="text" class="form-control" asp-for="Vm.EmailAddress" placeholder="Email Address" />
                <span class="text text-danger" asp-validation-for="Vm.EmailAddress"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vm.Password">Password</label>
                <input class="form-control" asp-for="Vm.Password" placeholder="Password" type="password" />
                <span class="text text-danger" asp-validation-for="Vm.Password"></span>
            </div>
            <div class="pt-3">
                <button class="btn btn-primary" type="submit">Login</button>
                <a asp-area="" asp-page="/Account/Signup">Signup</a>
            </div>
        </div>
    </div>
</form>